/* BODY */
body {
  background-color: var(--tertiary-color);
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0px;
  background-color: var(--tertiary-color);
}

/* .header-text {
  font-size: 18px;
  color: var(--primary-color);
} */

.more-btn {
  width: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px 0px 20px;
  margin-top: 70px;
  width: 100%;
  height: 100%;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  z-index: 100000;
  top: 0px;
  transform: translateX(-270px);
  width: 260px;
  height: 100%;
  background-color: var(--primary-color);
  padding: 100px 34px;
  box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.5);
}

.sidebar-item {
  margin-bottom: 37px;
}

.sidebar-item-text {
  font-size: 12px;
  color: white;
}

.sidebar-close-btn {
  position: absolute;
  cursor: pointer;
  top: 34px;
  right: 20px;
  z-index: 1000;
  width: 25px;
  height: 20px;
}

.sidebar-close-btn-line {
  height: 2px;
  z-index: 1001;
  border-radius: 10px;
  background-color: var(--light);
}

.line-1 {
  position: relative;
  top: 2px;
  transform: rotate(43deg);
}

.line-2 {
  transform: rotate(-43deg);
}

/* HEADER */
.header {
  padding: 25px 18px;
}

.sidebar-open-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.sidebar-open-btn-line {
  height: 2px;
  background-color: var(--primary-color);
}

.sidebar-open-btn-line:not(:last-child) {
  margin-bottom: 3px;
}




/* SEARCH-1 */
#search-1 {
  display: flex;
  flex-direction: column;
  padding: 24px 24px;
}

.search-1-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
  padding: 24px;
}

.form-heading {
  color: var(--primary-color);
  font-size: 1.25rem;
  margin-top: 20px;
  margin-bottom: 42px;
}

.text-input {
  width: 100%;
  padding: 16px 20px;
  margin-bottom: 37px;
  color: var(--dark);
  border: 1px solid var(--secondary-color);
  outline: none;
  transition: border-color 0.5s;
}

.text-input:focus {
  border-color: var(--primary-color);
}
.text-input:focus::placeholder {
  color: var(--primary-color);
}

.text-input::placeholder {
  color: var(--secondary-color);
  transition: color 0.5s;
}

.guide-text {
  font-size: 10px;
  line-height: 20px;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px;
}

.next-btn {
  display: block;
  text-align: center;
  margin-top: 50px;
  border: none;
  width: 100%;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--light);
  padding: 17px;
  transition: opacity 0.5s;
}

.next-btn:hover {
  outline: none;
  opacity: 0.7;
}

/* SEARCH-2 */
#search-2 {
  height: 100%;
  padding: 24px;
  background-color: var(--light);
}

.search-2-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.go-back-btn {
  display: inline-block;
  margin-bottom: 40px;
}

.input-heading {
  font-size: 14px;
  color: var(--primary-color);
  margin-bottom: 16px;
}

.time-range-input-area {
  margin-bottom: 28px;
}

.time-range-input-wrapper {
  position: relative;
  overflow-x: hidden;
  height: 25px;
}

.time-range-input-area-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.no-margin {
  margin: 0;
}

.time-range-input-value {
  font-size: 10px;
  color: var(--primary-color);
}

.time-range-input {
  margin: 0;
  width: 100%;
  -webkit-appearance: none;
  background-color: var(--secondary-color);
  height: 3px;
  border-radius: 5px;
}

.time-range-input:focus {
  outline: none;
}

.time-range-input-trackbar {
  content: "";
  position: absolute;
  top: 12px;
  width: 100%;
  height: 3px;
  background-color: var(--primary-color);
  transform: translateX(-50%);
}

.time-range-input::-webkit-slider-thumb {
  position: relative;
  z-index: 10;
  -webkit-appearance: none;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-color: var(--light);
  border: 3.5px solid var(--primary-color);
}

.ingredient-selected-list {
  height: 187px;
  overflow-y: auto;
}

.ingredient-selected-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: var(--primary-color);
  padding: 17px;
  border-bottom: 0.5px solid var(--secondary-color);
}

/* RECIPES */
#recipes {
  display: flex;
  flex-direction: column;
  padding: 5px 24px 24px 24px;
}

.recipe-list-item {
  display: flex;
  justify-content: space-between;
  background-color: var(--light);
  border-radius: 4px;
  padding: 22px 24px;
  margin-bottom: 24px;
  transition: opacity 0.5s;
  cursor: pointer;
}

.recipe-list-item:hover {
  opacity: 0.7;
}

.recipe-list-item-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--primary-color);
}

.recipe-name {
  font-size: 14px;
  margin-right: 56px;
  margin-bottom: 7px;
}

.recipe-time {
  font-size: 10px
}

.recipe-list-item-thumnail {
  width: 56px;
  height: 56px;
  border-radius: 4px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.pagination-item {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  margin-right: 10px;
}

.pagination-item:focus, .pagination-item:focus {
  background-color: var(--primary-color);
}

/* PAGES */
#search, #search-detail {
  display: none;
}